{% extends "layout.html" %}

{% block content %}
<h1>About Page</h1><br>
<article class="media content-section">
    <div class="media-body">
        <p class="article-content">In the time of Zoom meetings and Work From Home environment, searching for fun recreational activities (to do nearby with safety precautions or at home) to uplift the mood has become a necessity and we want to build a scalable cloud solution to address this problem. This web-application will provide an interactive Web-Interface to help users find recreational activities (indoor and outdoor) based on criteria such as the number of group members, days/dates, age information, budget, location preferences, category of activities, etc. All the effort of filtering out virtual events or outdoor activities suiting the budget and other requirements will be taken care of by Fun-A-Holics app.</p>
    </div>
</article>
{% endblock content %}